<div class="group__two">
    <h5>Development Highlights:</h5>
    <ul>
        <li><img src="/assets/images/check_green.png" alt="check_green" />The two units will
            sleep 4 and 6 guests respectively.</p>
        </li>
        <li><img src="/assets/images/check_green.png" alt="check_green" />Dual-zone hot tub and
            lap pool for each unit.</p>
        </li>
        <li><img src="/assets/images/check_green.png" alt="check_green" />Big investment in
            outdoor living room and dining room useable for four seasons.</li>
        <li><img src="/assets/images/check_green.png" alt="check_green" />Smart glass, HVAC
            units, and Radiant floor heating for a comfortable stay in all weather.</li>
        <li><img src="/assets/images/check_green.png" alt="check_green" />Site layout design
            ensure each unit has visual and sound privacy, but can also be rented together for
            larger groups.</li>
        <li><img src="/assets/images/check_green.png" alt="check_green" />Modular construction
            means units will go up fast with no risk of material or labor cost over run.</li>
        <li><img src="/assets/images/check_green.png" alt="check_green" />High end finishes and
            furnishings<a href="/tour/index.html" target="_blank">(Take a tour)</a></li>.
    </ul>
</div>
