<div class="terms">
    <h5>Equity Investment: Raising ${{include.raise}}</h5>
    <div class="terms__wrapper">
        <div class="terms__single">
            <img src="/assets/images/icons/investors.png" alt="Maximum Loan" />
            <p>Target Hold Time</p>
            <h5 class="neutral-bottom">{{include.hold}}</h5>
        </div>
        <div class="terms__single">
            <img src="/assets/images/icons/project.png" alt="Annual" />
            <p>Cash on Cash</p>
            <h5 class="neutral-bottom">{{include.coc}}%</h5>
        </div>
        <div class="terms__single">
            <img src="/assets/images/icons/loan.png" alt="Charge" />
            <p>5 Year IRR</p>
            <h5 class="neutral-bottom">{{include.irr}}%</h5>
        </div>
        <div class="terms__single">
            <img src="/assets/images/home.png" alt="Charge" />
            <p>Title Security</p>
            <h5 class="neutral-bottom">2nd Position</h5>
        </div>


    </div>
</div>