<div class="faq__group">
    <h5 class="atr">Frequently asked questions</h5>
    <div class="accordion" id="accordionExampleFund">
        <div class="accordion-item content__space">
            <h5 class="accordion-header" id="headingFundOne">
                <span class="icon_box">
                    <img src="/assets/images/icons/message.png" alt="Fund" />
                </span>
                <button class="accordion-button" type="button" data-bs-toggle="collapse"
                    data-bs-target="#collapseFundOne" aria-expanded="true" aria-controls="collapseFundOne">
                    What is Zomes?
                </button>
            </h5>
            <div id="collapseFundOne" class="accordion-collapse collapse show" aria-labelledby="headingFundOne"
                data-bs-parent="#accordionExampleFund">
                <div class="accordion-body">
                    <p>Zomes are modular homes built in Petaluma, CA and assembled on site. They are fully permitted as
                        traditional buildings, built on slab on grade. Zomes are engineered to meet all structural,
                        energy and zoning regulations. To learn more visist <a href="http//zomes.com"
                            target="_blank">Zomes.com</a></p>
                </div>
            </div>
        </div>
        <div class="accordion-item content__space">
            <h5 class="accordion-header" id="headingFundTwo">
                <span class="icon_box">
                    <img src="/assets/images/icons/message.png" alt="Fund" />
                </span>
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                    data-bs-target="#collapseFundTwo" aria-expanded="false" aria-controls="collapseFundTwo">
                    What are the benefits of investing via Zomes?
                </button>
            </h5>
            <div id="collapseFundTwo" class="accordion-collapse collapse" aria-labelledby="headingFundTwo"
                data-bs-parent="#accordionExampleFund">
                <div class="accordion-body">
                    <p>combined with a handful of model sentence structures, to generate
                        Lorem Ipsum
                        which looks reasonable. The generated Lorem Ipsum is therefore
                        always free
                        from
                        repetition, injected humour, or</p>
                </div>
            </div>
        </div>
        <div class="accordion-item content__space">
            <h5 class="accordion-header" id="headingFundThree">
                <span class="icon_box">
                    <img src="/assets/images/icons/message.png" alt="Fund" />
                </span>
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                    data-bs-target="#collapseFundThree" aria-expanded="false" aria-controls="collapseFundThree">
                    What makes Zomes different?
                </button>
            </h5>
            <div id="collapseFundThree" class="accordion-collapse collapse" aria-labelledby="headingFundThree"
                data-bs-parent="#accordionExampleFund">
                <div class="accordion-body">
                    <p>combined with a handful of model sentence structures, to generate
                        Lorem Ipsum
                        which looks reasonable. The generated Lorem Ipsum is therefore
                        always free
                        from
                        repetition, injected humour, or</p>
                </div>
            </div>
        </div>
    </div>
</div>