<div class="group__two">
    <h5>Investment Highlights:</h5>
    <ul>
        
        <li><img src="/assets/images/check_green.png" alt="check_green" />Fixed build cost that is backstopped by development group eliminates risk of cost overruns. </li>
        <li><img src="/assets/images/check_green.png" alt="check_green" />High Debt Service
            Coverage Ratio (”DSCR”) – Projected 2.3 DSCR on net income indicates a strong
            financial health, and lower probability of default.</li>
        <li><img src="/assets/images/check_green.png" alt="check_green" />1st Position Notes –
            Private Lenders will always maintain a 1st position lien on all properties. The
            highest level of title/lender’s insurance will be purchased on each property.</li>
        <li><img src="/assets/images/check_green.png" alt="check_green" />Dedicated in-house
            property management team.</li>
        <li><img src="/assets/images/check_green.png" alt="check_green" />Concentration: We know
            the Sedona market intimately, and are building out multiple vacation rentals in the
            city. This allows us to share infrastructure, cross-market, and deliver a great host
            experience.</li>
        <li><img src="/assets/images/check_green.png" alt="check_green" />Extensive deal
            analysis and structuring experience. Members of our team have bought and sold more
            then $100MM in residential and commercial properties over the last 15 years.</li>
    </ul>
</div>