<div class="col-xl-4 col-md-6 property__grid__area__wrapper__inner">

    <div class="property__list__wrapper property__grid">
        <div class="row d-flex align-items-center">
            <div class="property__grid__area__wrapper__inner__two">
                <div class="property__item__image column__space--secondary">
                    <div class="img__effect">
                        <a href="/properties/{{ include.name}}.html">
                            <img src="/assets/images/properties/{{ include.name}}/{{ include.name}}{{ include.banner-gif}}"
                                alt="{{include.name}}" />
                        </a>
                    </div>
                </div>
            </div>
            <div class="property__grid__area__wrapper__inner__three">
                <div class="property__item__content">
                    <div class="item__head">
                        <div class="item__head__left">
                            <h4>{{include.name | capitalize}}</h4>
                            <p><i class="fa-solid fa-location-dot"></i> {{include.address}}
                            </p>
                        </div>
                    </div>
                    <div class="progress__type progress__type--two">
                        <div class="progress">
                            <div class="progress-bar" role="progressbar" style="width:{{include.investor-percentage}}%"
                                aria-valuenow="{{include.investor-percentage}}" aria-valuemin="0" aria-valuemax="100">
                            </div>
                        </div>
                        <div class="project__info">
                            <p class="project__has"><span class="project__has__investors">{{include.investors}}
                                    Investor(s)</span> |  <span
                                    class="project__has__investors__percent">({{include.investor-percentage}}%)</span>
                            </p>
                            <p class="project__has">
                                <i class="fa-solid fa-dollar-sign"></i> {{include.raise}} Goal
                            </p>
                        </div>
                    </div>
                    <div class="item__info">
                        <div class="item__info__single">
                            <p>Cash on Cash</p>
                            <h6>{{include.coc}}%</h6>
                        </div>
                        <div class="item__info__single">
                            <p>Target Hold</p>
                            <h6>{{include.hold}}</h6>
                        </div>
                        <div class="item__info__single">
                            <p>Distribution</p>
                            <h6>Quarterly</h6>
                        </div>
                        <div class="item__info__single">
                            <p>Target IRR</p>
                            <h6>{{include.irr}}%</h6>
                        </div>
                        <!-- <div class="item__info__single">
                        <p></p>
                        <h6></h6>
                    </div> -->
                    </div>
                    <!-- <div class="item__footer"> -->
                    <!-- <div class="item__security">
                        <div class="icon__box">
                            <img src="/assets/images/home.png" alt="Security" />
                        </div>
                        <div class="item__security__content">
                            <p class="secondary">Security</p>
                            <h6>1st-Rank Mortgage</h6>
                        </div>
                    </div> -->
                    <!-- <div class="item__cta__group">
                        <a href="registration.html" class="button button--secondary button--effect">Investment Details</a>
                        <a href="property-details.html"
                            class="button button--secondary button--effect">Investment Details</a>
                    </div> -->
                    <!-- </div> -->
                    <div class="invest__cta__wrapper">
                        <!-- <div class="countdown__wrapper">
                        <p class="secondary"><i class="fa-solid fa-clock"></i> Time to Close</p>
                        <div class="countdown">
                            <h5>
                                <span class="days">00</span><span class="ref">d</span>
                                <span class="seperator">:</span>
                            </h5>
                            <h5>
                                <span class="hours"> 00</span><span class="ref">h</span>
                                <span class="seperator">:</span>
                            </h5>
                            <h5>
                                <span class="minutes">00</span><span class="ref">m</span>
                                <span class="seperator"></span>
                            </h5>
                        </div>
                    </div> -->
                        <div class="invest__cta">
                            <a href="/properties/circle.html" class="button button--effect">
                                Investment Details
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>