<a href="/assets/documents/shared/SedonaSTRReport.pdf" class="button" target="_blank">STR
    RESEARCH<i class="fa-solid fa-download"></i></a>
<p>Rate and occupancy research for Sedona market. Third party, commissioned by Zomes.</p>

<a href="/assets/documents/shared/SedonaCustomerDevelopment.pdf" class="button"
    target="_blank">CUSTOMER DEVELOPMENT REPORT<i class="fa-solid fa-download"></i></a>
<p>Third party report commissioned by Zomes on the profile of a typical short-term renter in
    Sedona</p>
<a href="/assets/documents/shared/ZomesSedonaComps.xlsx" class="button"
    target="_blank">COMPETITIVE ANALYSIS<i class="fa-solid fa-download"></i></a>
<p>Multi-factor analysis of competing Sedona short-term rentals.</p>
<a href="/assets/documents/shared/SedonaAirDNAAnalysis.pdf" class="button"
    target="_blank">SEDONA AIRDNA ANALYSIS<i class="fa-solid fa-download"></i></a>
<p>Raw data and charts from AirDna Sedona</p>
<a href="/assets/documents/shared/SedonaAverageDailyRateByTier.csv" class="button"
    target="_blank">MONTHLY ADR DATA<i class="fa-solid fa-download"></i></a>
<p>Monthly Raw Data for 1 Bedrooms in Sedona broken down by Tier</p>
<a href="/assets/documents/shared/ZomesCatalogue.pdf" class="button" target="_blank">ZOMES
    CATALOGUE<i class="fa-solid fa-download"></i></a>
<p>2023 Product Catalgue for Zomes</p>
