<div class="group brin__last">
    <h5 class="neutral-top">Key Investment Risks</h5>
    <hr />
    <p>We have a limited operating history. As a result, an investment in one of our properties
        entails more risk than an
        investment in a company with a substantial operating history.</p>
    <p>In addition, our ability to successfully operate our business and implement our operating
        policies and investment strategy depends
        on many factors, including:</p>
    <ul>
        <li>- Our ability to obtain the additional capital</li>
        <li>- Our ability to effectively manage renovation, maintenance, marketing and other
            operating costs for our properties</li>
        <li>- Economic conditions in our markets, including changes in employment and household
            earnings and expenses, as well as the condition of the financial and real estate
            markets and the economy, in general</li>
        <li>- Our ability to maintain high occupancy rates and target rent levels</li>
        <li>- Costs that are beyond our control, including title litigation, litigation with
            guests, legal compliance, real estate taxes, HOA fees and insurance;</li>
        <li>- Judicial and regulatory developments affecting landlord-guest relations that may
            affect or delay our ability increase rental rates</li>
        <li>- Reversal of population, employment or homeownership trends in our markets</li>
        <li>- Interest rate levels and volatility, such as the accessibility of short-term and
            long-term financing on desirable terms</li>
    </ul>

</div>