---
layout: default
title: Property Details - Zomes Development
---

<!-- ==== details section start ==== -->
<div class="property__details__banner bg__img clear__top"
    data-background="/assets/images/properties/circle/circle1.jpg">
</div>
<section class="p__details faq section__space__bottom">
    <div class="container">
        <div class="p__details__area">
            <div class="row">
                <div class="col-lg-7">
                    <div class="p__details__content">
                        <a href="#gallery" class="button button--effect button--secondary"><i
                                class="fa-solid fa-images"></i> Browse Gallery</a>
                        <div class="intro">
                            <h3>Circle - Sedona</h3>
                            <p><i class="fa-solid fa-location-dot"></i> {{site.circle-address}}
                            </p>
                        </div>
                        <div class="group__one">
                            <h4>Investment Overview</h4>
                            <p>Seeking $1.25MM divided in two equal tranches: A fixed debt investment in first
                                position, and an equity investment in second.</p>
                        </div>
                        {% include equity.html raise=site.circle-equity hold=site.circle-equity-hold coc=site.circle-coc irr=site.circle-irr%}                        
                        {% include debt.html raise=site.circle-debt hold=site.circle-hold return=site.circle-return renew=site.circle-renew%}                        
                        
                        {% include investment-highlights.html %}

                        <div class="group__one">
                            <h4>Property Description</h4>
                            <p>Show stopping Red Rock Vistas in all directions from this dramatic hillside lot just
                                steps away from all the amenities in highly desirable Uptown Sedona.</p>
                            <p>Located in a prime Sedona neighborhood with no HOA, this location is close to forest
                                trails, charming galleries and shops, and popular restaurants.</p>
                        </div>
                        <div class="group__two">
                            <h5>Property Highlights:</h5>
                            <ul>
                                <li><img src="/assets/images/check_green.png" alt="check_green" />Approx 1/3 acre with
                                    City sewer, natural gas, electricity and water available</p>
                                </li>
                                <li><img src="/assets/images/check_green.png" alt="check_green" />Rare uptown vacant
                                    lot. Central and private.</li>
                                <li><img src="/assets/images/check_green.png" alt="check_green" />Unimpeded views of
                                    Cathedral Rock, Snoopy, Thunder Mountain, Wilson Mountain and Elephant Rock</li>
                                <li><img src="/assets/images/check_green.png" alt="check_green" />Guest home permitted,
                                    which allows for room to build two STR units.</li>
                                <li><img src="/assets/images/check_green.png" alt="check_green" />No HOA which removes
                                    risk of STR limitations being imposed in the future.</li>
                                <li><img src="/assets/images/check_green.png" alt="check_green" />High-end neighborhood.
                                </li>
                            </ul>
                        </div>
                        <div class="group__one">
                            <div class="map__wrapper">
                                <iframe
                                    src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1635.425268006827!2d-111.76009829445297!3d34.87385077189482!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x872da3e18407e7bd%3A0xdd1275f728b638cb!2s266%20Circle%20Dr%2C%20Sedona%2C%20AZ%2086336!5e0!3m2!1sen!2sus!4v1678371284506!5m2!1sen!2sus"
                                    width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"
                                    referrerpolicy="no-referrer-when-downgrade"></iframe>
                            </div>
                            <a href="https://earth.google.com/web/search/266+Circle+Dr,+Sedona,+AZ+86336/@34.87401576,-111.75888988,1342.09172091a,219.17254815d,35y,-47.70221331h,60t,0r/data=CooBGmASWgolMHg4NzJkYTNlMTg0MDdlN2JkOjB4ZGQxMjc1ZjcyOGI2MzhjYhljGpe74G9BQCEJKYk2kfBbwCofMjY2IENpcmNsZSBEciwgU2Vkb25hLCBBWiA4NjMzNhgCIAEiJgokCZWMWTUQcEFAES5LcajBa0FAGQtRcs9M7lvAIQ--6W-w8FvAKAI"
                                class="button button--secondary button--effect" target="_blank">GOOGLE EARTH TOUR</a>
                        </div>
                        <div class="group__one">
                            <h4>Development Overview</h4>
                            <p>Zomes Development is in contract on the land, and has contracted with <a
                                    href="http://zomes.com" target="_blank">Shell Dwellings, LLC</a> to be build a 1
                                bedroom Zome (700 sqft), and 2
                                bedroom Zome (1000 sqft).</p>
                            <p>Construction is set to begin mid April, and be completed by mid July.</p>
                        </div>
                        {% include developmenthighlights.html %}

                        <div class="group__two">
                            <div class="table">
                                <img src="/assets/documents/circle/sourcesanduses.png" alt="sources and uses" />
                            </div>
                            <a href="https://docs.google.com/spreadsheets/d/e/2PACX-1vSpiHCN1544oVaKINUIDAELVldSpTaiplyJc7SbKZmt2NghLWt0FQRTJIb2-leULJgaz1cuMTuTN-lu/pubhtml?gid=2060357359&single=true"
                                class="button button--secondary" target="_blank">FINANCIAL MODEL<i
                                    class="fa-solid fa-download"></i></a>
                        </div>
                        {% include faq.html %}
                    </div>
                </div>
                <div class="col-lg-5">
                    <div class="p__details__sidebar">
                        <!-- <div class="intro">
                            <div class="countdown__wrapper">
                                <p class="secondary"><i class="fa-solid fa-clock"></i> Time to Close
                                </p>
                                <div class="countdown">
                                    <h5>
                                        <span class="days">00</span><span class="ref">d</span>
                                        <span class="seperator">:</span>
                                    </h5>
                                    <h5>
                                        <span class="hours"> 00</span><span class="ref">h</span>
                                        <span class="seperator">:</span>
                                    </h5>
                                    <h5>
                                        <span class="minutes">00</span><span class="ref">m</span>
                                        <span class="seperator"></span>
                                    </h5>
                                </div>
                            </div>
                            <h5>Equity Position: <span>$625,000</span></h5>
                            <div class="progress__type progress__type--two">
                                <div class="progress">
                                    <div class="progress-bar" style="width:0%" role="progressbar" aria-valuenow="25"
                                        aria-valuemin="0" aria-valuemax="100"></div>
                                </div>
                                <div class="project__info">
                                    <p class="project__has"><span class="project__has__investors">0
                                            Investor(s)</span> | <span class="project__has__investors__amount"><i
                                                class="fa-solid fa-dollar-sign"></i>0</span></p>
                                    <p class="project__goal">
                                        <i class="fa-solid fa-dollar-sign"></i> 625,000 Goal
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="group brin">
                            <div class="acus__content">
                                <form action="#" method="post">
                                    <div class="capital">
                                        <p>Preferred Return</p>
                                        <h5>10%</h5>
                                    </div>
                                    <div class="capital">
                                        <p>General Partnership Waterfall</p>
                                        <h5>25%</h5>
                                    </div>
                                    <div class="capital">
                                        <p>Target 5-Year IRR</p>
                                        <h5>25.7%</h5>
                                    </div>
                                    <div class="capital">
                                        <p>Target Cash on Cash</p>
                                        <h5>12.1%</h5>
                                    </div>
                                    <div class="capital">
                                        <p>Hold Time</p>
                                        <h5>4-5 Years</h5>
                                    </div>
                                    <div class="item__security">
                                        <div class="icon__box">
                                            <img src="/assets/images/home.png" alt="Security" />
                                        </div>
                                        <div class="item__security__content">
                                            <p class="secondary">Security</p>
                                            <h6>2nd Position on Title</h6>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                        <div class="intro" style="margin-top:30px;">
                            <div class="countdown__wrapper">
                                <p class="secondary"><i class="fa-solid fa-clock"></i> Time to Close
                                </p>
                                <div class="countdown">
                                    <h5>
                                        <span class="days">00</span><span class="ref">d</span>
                                        <span class="seperator">:</span>
                                    </h5>
                                    <h5>
                                        <span class="hours"> 00</span><span class="ref">h</span>
                                        <span class="seperator">:</span>
                                    </h5>
                                    <h5>
                                        <span class="minutes">00</span><span class="ref">m</span>
                                        <span class="seperator"></span>
                                    </h5>
                                </div>
                            </div>
                            <h5>Debt Position: <span>$625,000</span></h5>
                            <div class="progress__type progress__type--two">
                                <div class="progress">
                                    <div class="progress-bar" style="width:100%" role="progressbar" aria-valuenow="25"
                                        aria-valuemin="0" aria-valuemax="100"></div>
                                </div>
                                <div class="project__info">
                                    <p class="project__has"><span class="project__has__investors">1
                                            Investor(s)</span> | <span class="project__has__investors__amount"><i
                                                class="fa-solid fa-dollar-sign"></i>625,000</span></p>
                                    <p class="project__goal">
                                        <i class="fa-solid fa-dollar-sign"></i> 625,000 Goal
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="group brin">
                            <div class="acus__content">
                                <form action="#" method="post">
                                    <div class="capital">
                                        <p>Annual Return</p>
                                        <h5>8%</h5>
                                    </div>
                                    <div class="capital">
                                        <p>Term</p>
                                        <h5>12 Months</h5>
                                    </div>
                                    <div class="capital">
                                        <p>Options to renew for 3 months</p>
                                        <h5>2</h5>
                                    </div>
                                    <div class="item__security">
                                        <div class="icon__box">
                                            <img src="/assets/images/home.png" alt="Security" />
                                        </div>
                                        <div class="item__security__content">
                                            <p class="secondary">Security</p>
                                            <h6>1st Position on Title</h6>
                                        </div>
                                    </div>
                                </form>
                            </div>

                        </div> -->
                        <div class="group alt__brin">
                            <h5>Key Dates <i class="fa-solid fa-calendar" style="color:#44a06c;"></i></h5>
                            <hr />
                            <div class="singl__wrapper">
                                <div class="singl">
                                    <img src="/assets/images/check_green_done.png" alt="check_green" />
                                    <div>
                                        <p>30-Nov-2022</p>
                                        <a>Offer Accepted</a>
                                    </div>
                                </div>
                                <div class="singl">
                                    <img src="/assets/images/check_green_done.png" alt="check_green" />
                                    <div>
                                        <p>2-March-2023</p>
                                        <a>Permits Submitted</a>
                                    </div>
                                </div>
                                <div class="singl">
                                    <img src="/assets/images/check_green.png" alt="check_green" />
                                    <div>
                                        <p>9-May-2023</p>
                                        <a>Updated Plans Submitted</a>
                                    </div>
                                </div>
                                <div class="singl">
                                    <img src="/assets/images/check_green.png" alt="check_green" />
                                    <div>
                                        <p>19-May-2023</p>
                                        <a>Property Close</a>
                                    </div>
                                </div>
                                <div class="singl">
                                    <img src="/assets/images/check_green.png" alt="check_green" />
                                    <div>
                                        <p>23-May-2023</p>
                                        <a>Permit Approval</a>
                                    </div>
                                </div>
                                <div class="singl">
                                    <img src="/assets/images/check_green.png" alt="check_green" />
                                    <div>
                                        <p>3-June-2023</p>
                                        <a>Break Ground</a>
                                    </div>
                                </div>
                                <div class="singl">
                                    <img src="/assets/images/check_green.png" alt="check_green" />
                                    <div>
                                        <p>1-October-2023</p>
                                        <a>Certificate of Occupancy</a>
                                    </div>
                                </div>
                                <div class="singl">
                                    <img src="/assets/images/check_green.png" alt="check_green" />
                                    <div>
                                        <p>1-March-2024</p>
                                        <a>Short-Term Rentals Stabilized</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="group alt__brini">
                            <h5>Reports</h5>
                            <hr />
                            <a href="https://docs.google.com/spreadsheets/d/e/2PACX-1vSpiHCN1544oVaKINUIDAELVldSpTaiplyJc7SbKZmt2NghLWt0FQRTJIb2-leULJgaz1cuMTuTN-lu/pubhtml?gid=2060357359&single=true"
                                class="button" target="_blank">FINANCIAL MODEL<i class="fa-solid fa-download"></i></a>
                            <p>Financial model with Cash Flow Scenarios, Sources & Uses.</p>
                            <a href="https://www.dropbox.com/s/phbfcygw6wkrv84/23-002_230227_PS_Arch-C_001.pdf?dl=0"
                                class="button" target="_blank">PERMIT SET<i class="fa-solid fa-download"></i></a>
                            <p>Full set of permits submitted to the city of Sedona</p>
                            <a href="https://earth.google.com/web/search/266+Circle+Dr,+Sedona,+AZ+86336/@34.87401576,-111.75888988,1342.09172091a,219.17254815d,35y,-47.70221331h,60t,0r/data=CooBGmASWgolMHg4NzJkYTNlMTg0MDdlN2JkOjB4ZGQxMjc1ZjcyOGI2MzhjYhljGpe74G9BQCEJKYk2kfBbwCofMjY2IENpcmNsZSBEciwgU2Vkb25hLCBBWiA4NjMzNhgCIAEiJgokCZWMWTUQcEFAES5LcajBa0FAGQtRcs9M7lvAIQ--6W-w8FvAKAI"
                                class="button" target="_blank">GOOGLE EARTH TOUR<i class="fa-solid fa-download"></i></a>
                            <p>Explore the location in 3D using Google Earth</p>
                            <a href="/locations/sedona.html" class="button">More About
                                Sedona</a>
                        </div>
                        
                        {% include risks.html %}


                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- ==== #details section end ==== -->
<section class="wow fadeInUp">
    <div class="container">
        <div class="table">
            <img src="/assets/documents/circle/onepager.png" alt="onepager" />
        </div>
        <a href="https://docs.google.com/spreadsheets/d/e/2PACX-1vSpiHCN1544oVaKINUIDAELVldSpTaiplyJc7SbKZmt2NghLWt0FQRTJIb2-leULJgaz1cuMTuTN-lu/pubhtml?gid=2060357359&single=true"
            class="button button--secondary" target="_blank">FINANCIAL MODEL<i class="fa-solid fa-download"></i></a>
    </div>
</section>

<!-- ==== property gallery two section start ==== -->
<section class="p__gallery wow fadeInUp" id="gallery">
    <div class="container">
        <hr class="divider" />
        <div class="p__gallery__area section__space">
            <div class="title__with__cta">
                <div class="row d-flex align-items-center">
                    <div class="col-lg-8">
                        <h2>Property Gallery</h2>
                    </div>
                    <div class="col-lg-4">
                        <div class="text-start text-lg-end">
                            <a href="/locations/sedona.html" class="button button--secondary button--effect">More About
                                Sedona</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row p__gallery__single">
                <div class='col-md-6 col-lg-4 gallery__single__two'><a
                        href='/assets/images/properties/circle/circle1.jpg'><img
                            src='/assets/images/properties/circle/circle1.jpg' alt='Property Image' /></a></div>
                <div class='col-md-6 col-lg-4 gallery__single__two'><a
                        href='/assets/images/properties/circle/circle2.jpg'><img
                            src='/assets/images/properties/circle/circle2.jpg' alt='Property Image' /></a></div>
                <div class='col-md-6 col-lg-4 gallery__single__two'><a
                        href='/assets/images/properties/circle/circle3.jpg'><img
                            src='/assets/images/properties/circle/circle3.jpg' alt='Property Image' /></a></div>
                <div class='col-md-6 col-lg-4 gallery__single__two'><a
                        href='/assets/images/properties/circle/circle4.jpg'><img
                            src='/assets/images/properties/circle/circle4.jpg' alt='Property Image' /></a></div>
                <div class='col-md-6 col-lg-4 gallery__single__two'><a
                        href='/assets/images/properties/circle/circle5.jpg'><img
                            src='/assets/images/properties/circle/circle5.jpg' alt='Property Image' /></a></div>
                <div class='col-md-6 col-lg-4 gallery__single__two'><a
                        href='/assets/images/properties/circle/circle6.jpg'><img
                            src='/assets/images/properties/circle/circle6.jpg' alt='Property Image' /></a></div>
                <div class='col-md-6 col-lg-4 gallery__single__two'><a
                        href='/assets/images/properties/circle/circle1.webp'><img
                            src='/assets/images/properties/circle/circle1.webp' alt='Property Image' /></a></div>
                <div class='col-md-6 col-lg-4 gallery__single__two'><a
                        href='/assets/images/properties/circle/circle2.webp'><img
                            src='/assets/images/properties/circle/circle2.webp' alt='Property Image' /></a></div>
                <div class='col-md-6 col-lg-4 gallery__single__two'><a
                        href='/assets/images/properties/circle/circle3.webp'><img
                            src='/assets/images/properties/circle/circle3.webp' alt='Property Image' /></a></div>
                <div class='col-md-6 col-lg-4 gallery__single__two'><a
                        href='/assets/images/properties/circle/circle4.webp'><img
                            src='/assets/images/properties/circle/circle4.webp' alt='Property Image' /></a></div>
                <div class='col-md-6 col-lg-4 gallery__single__two'><a
                        href='/assets/images/properties/circle/circle5.webp'><img
                            src='/assets/images/properties/circle/circle5.webp' alt='Property Image' /></a></div>
                <div class='col-md-6 col-lg-4 gallery__single__two'><a
                        href='/assets/images/properties/circle/circle6.webp'><img
                            src='/assets/images/properties/circle/circle6.webp' alt='Property Image' /></a></div>
                <div class='col-md-6 col-lg-4 gallery__single__two'><a
                        href='/assets/images/properties/circle/circle7.webp'><img
                            src='/assets/images/properties/circle/circle7.webp' alt='Property Image' /></a></div>
                <div class='col-md-6 col-lg-4 gallery__single__two'><a
                        href='/assets/images/properties/circle/circle8.webp'><img
                            src='/assets/images/properties/circle/circle8.webp' alt='Property Image' /></a></div>
                <div class='col-md-6 col-lg-4 gallery__single__two'><a
                        href='/assets/images/properties/circle/circle9.webp'><img
                            src='/assets/images/properties/circle/circle9.webp' alt='Property Image' /></a></div>
                <div class='col-md-6 col-lg-4 gallery__single__two'><a
                        href='/assets/images/properties/circle/circle10.webp'><img
                            src='/assets/images/properties/circle/circle10.webp' alt='Property Image' /></a></div>
                <div class='col-md-6 col-lg-4 gallery__single__two'><a
                        href='/assets/images/properties/circle/circle11.webp'><img
                            src='/assets/images/properties/circle/circle11.webp' alt='Property Image' /></a></div>
                <div class='col-md-6 col-lg-4 gallery__single__two'><a
                        href='/assets/images/properties/circle/circle12.webp'><img
                            src='/assets/images/properties/circle/circle12.webp' alt='Property Image' /></a></div>
                <div class='col-md-6 col-lg-4 gallery__single__two'><a
                        href='/assets/images/properties/circle/circle13.webp'><img
                            src='/assets/images/properties/circle/circle13.webp' alt='Property Image' /></a></div>
                <div class='col-md-6 col-lg-4 gallery__single__two'><a
                        href='/assets/images/properties/circle/circle14.webp'><img
                            src='/assets/images/properties/circle/circle14.webp' alt='Property Image' /></a></div>
                <div class='col-md-6 col-lg-4 gallery__single__two'><a
                        href='/assets/images/properties/circle/circle15.webp'><img
                            src='/assets/images/properties/circle/circle15.webp' alt='Property Image' /></a></div>
                <div class='col-md-6 col-lg-4 gallery__single__two'><a
                        href='/assets/images/properties/circle/circle16.webp'><img
                            src='/assets/images/properties/circle/circle16.webp' alt='Property Image' /></a></div>
                <div class='col-md-6 col-lg-4 gallery__single__two'><a
                        href='/assets/images/properties/circle/circle17.webp'><img
                            src='/assets/images/properties/circle/circle17.webp' alt='Property Image' /></a></div>
                <div class='col-md-6 col-lg-4 gallery__single__two'><a
                        href='/assets/images/properties/circle/circle18.webp'><img
                            src='/assets/images/properties/circle/circle18.webp' alt='Property Image' /></a></div>
                <div class='col-md-6 col-lg-4 gallery__single__two'><a
                        href='/assets/images/properties/circle/circle19.webp'><img
                            src='/assets/images/properties/circle/circle19.webp' alt='Property Image' /></a></div>
                <div class='col-md-6 col-lg-4 gallery__single__two'><a
                        href='/assets/images/properties/circle/circle20.webp'><img
                            src='/assets/images/properties/circle/circle20.webp' alt='Property Image' /></a></div>
                <div class='col-md-6 col-lg-4 gallery__single__two'><a
                        href='/assets/images/properties/circle/circle21.webp'><img
                            src='/assets/images/properties/circle/circle21.webp' alt='Property Image' /></a></div>
                <div class='col-md-6 col-lg-4 gallery__single__two'><a
                        href='/assets/images/properties/circle/circle22.webp'><img
                            src='/assets/images/properties/circle/circle22.webp' alt='Property Image' /></a></div>
                <div class='col-md-6 col-lg-4 gallery__single__two'><a
                        href='/assets/images/properties/circle/circle23.webp'><img
                            src='/assets/images/properties/circle/circle23.webp' alt='Property Image' /></a></div>
                <div class='col-md-6 col-lg-4 gallery__single__two'><a
                        href='/assets/images/properties/circle/circle24.webp'><img
                            src='/assets/images/properties/circle/circle24.webp' alt='Property Image' /></a></div>
                <div class='col-md-6 col-lg-4 gallery__single__two'><a
                        href='/assets/images/properties/circle/circle25.webp'><img
                            src='/assets/images/properties/circle/circle25.webp' alt='Property Image' /></a></div>
                <div class='col-md-6 col-lg-4 gallery__single__two'><a
                        href='/assets/images/properties/circle/circle26.webp'><img
                            src='/assets/images/properties/circle/circle26.webp' alt='Property Image' /></a></div>
                {% include sharedimages.html%}




            </div>
            <div class="cta__btn">
                <a href="/locations/sedona.html" class="button button--secondary button--effect">More About Sedona</a>
                <a href="/tour/index.html" class="button button--secondary button--effect" target="_blank">Tour a
                    Zome</a>
                <a href="http://zomes.com" class="button button--secondary button--effect" target="_blank">Zome Product
                    Website</a>
            </div>
        </div>
    </div>

</section>

<!-- ==== property gallery two section end ==== -->

<!-- ==== all properties in grid section start ==== -->
<!-- <section class="properties__grid section__space">
        <div class="container">
            <div class="properties__grid__area wow fadeInUp">
                <div class="title__with__cta">
                    <div class="row d-flex align-items-center">
                        <div class="col-lg-8">
                            <h2>Browse Similar Properties</h2>
                        </div>
                        <div class="col-lg-4">
                            <div class="text-start text-lg-end">
                                <a href="properties.html" class="button button--secondary button--effect">Browse All
                                    Properties</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="property__grid__wrapper">
                    <div class="row">
                        <div class="col-md-6 col-xl-4">
                            <div class="property__grid__single column__space--secondary">
                                <div class="img__effect">
                                    <a href="property-details.html">
                                        <img src="/assets/images/property/grid-one.jpg" alt="Property" />
                                    </a>
                                </div>
                                <div class="property__grid__single__inner">
                                    <h4>Los Angeles</h4>
                                    <p class="sub__info"><i class="fa-solid fa-location-dot"></i> 8706 Herrick Ave, Los
                                        Angeles</p>
                                    <div class="progress__type">
                                        <div class="progress">
                                            <div class="progress-bar" role="progressbar" aria-valuenow="25"
                                                aria-valuemin="0" aria-valuemax="100"></div>
                                        </div>
                                        <p class="project__has"><span class="project__has__investors">159
                                                Investors</span> |
                                            <span class="project__has__investors__amount"><i
                                                    class="fa-solid fa-dollar-sign"></i> 1,94,196</span> <span
                                                class="project__has__investors__percent">(64.73%)</span>
                                        </p>
                                    </div>
                                    <div class="item__info">
                                        <div class="item__info__single">
                                            <p>Annual Return</p>
                                            <h6>7.5% + 2%</h6>
                                        </div>
                                        <div class="item__info__single">
                                            <p>Property Type</p>
                                            <h6>Commercial</h6>
                                        </div>
                                    </div>
                                    <div class="invest__cta__wrapper">
                                        <div class="countdown__wrapper">
                                            <p class="secondary"><i class="fa-solid fa-clock"></i> Left to invest</p>
                                            <div class="countdown">
                                                <h5>
                                                    <span class="days">00</span><span class="ref">d</span>
                                                    <span class="seperator">:</span>
                                                </h5>
                                                <h5>
                                                    <span class="hours"> 00</span><span class="ref">h</span>
                                                    <span class="seperator">:</span>
                                                </h5>
                                                <h5>
                                                    <span class="minutes">00</span><span class="ref">m</span>
                                                    <span class="seperator"></span>
                                                </h5>
                                            </div>
                                        </div>
                                        <div class="invest__cta">
                                            <a href="property-details.html" class="button button--effect">
                                                Invest Now
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 col-xl-4">
                            <div class="property__grid__single column__space--secondary">
                                <div class="img__effect">
                                    <a href="property-details.html">
                                        <img src="/assets/images/property/grid-two.jpg" alt="Property" />
                                    </a>
                                </div>
                                <div class="property__grid__single__inner">
                                    <h4>San Francisco, CA</h4>
                                    <p class="sub__info"><i class="fa-solid fa-location-dot"></i> 3335 21 St, San
                                        Francisco</p>
                                    <div class="progress__type">
                                        <div class="progress">
                                            <div class="progress-bar" role="progressbar" aria-valuenow="25"
                                                aria-valuemin="0" aria-valuemax="100"></div>
                                        </div>
                                        <p class="project__has"><span class="project__has__investors">159
                                                Investors</span> |
                                            <span class="project__has__investors__amount"><i
                                                    class="fa-solid fa-dollar-sign"></i> 1,94,196</span> <span
                                                class="project__has__investors__percent">(64.73%)</span>
                                        </p>
                                    </div>
                                    <div class="item__info">
                                        <div class="item__info__single">
                                            <p>Annual Return</p>
                                            <h6>7.5% + 2%</h6>
                                        </div>
                                        <div class="item__info__single">
                                            <p>Property Type</p>
                                            <h6>Commercial</h6>
                                        </div>
                                    </div>
                                    <div class="invest__cta__wrapper">
                                        <div class="countdown__wrapper">
                                            <p class="secondary"><i class="fa-solid fa-clock"></i> Left to invest</p>
                                            <div class="countdown">
                                                <h5>
                                                    <span class="days">00</span><span class="ref">d</span>
                                                    <span class="seperator">:</span>
                                                </h5>
                                                <h5>
                                                    <span class="hours"> 00</span><span class="ref">h</span>
                                                    <span class="seperator">:</span>
                                                </h5>
                                                <h5>
                                                    <span class="minutes">00</span><span class="ref">m</span>
                                                    <span class="seperator"></span>
                                                </h5>
                                            </div>
                                        </div>
                                        <div class="invest__cta">
                                            <a href="property-details.html" class="button button--effect">
                                                Invest Now
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 col-xl-4">
                            <div class="property__grid__single">
                                <div class="img__effect">
                                    <a href="property-details.html">
                                        <img src="/assets/images/property/grid-three.jpg" alt="Property" />
                                    </a>
                                </div>
                                <div class="property__grid__single__inner">
                                    <h4>San Diego</h4>
                                    <p class="sub__info"><i class="fa-solid fa-location-dot"></i> 356 La Jolla, San
                                        Diego</p>
                                    <div class="progress__type">
                                        <div class="progress">
                                            <div class="progress-bar" role="progressbar" aria-valuenow="25"
                                                aria-valuemin="0" aria-valuemax="100"></div>
                                        </div>
                                        <p class="project__has"><span class="project__has__investors">159
                                                Investors</span> |
                                            <span class="project__has__investors__amount"><i
                                                    class="fa-solid fa-dollar-sign"></i> 1,94,196</span> <span
                                                class="project__has__investors__percent">(64.73%)</span>
                                        </p>
                                    </div>
                                    <div class="item__info">
                                        <div class="item__info__single">
                                            <p>Annual Return</p>
                                            <h6>7.5% + 2%</h6>
                                        </div>
                                        <div class="item__info__single">
                                            <p>Property Type</p>
                                            <h6>Commercial</h6>
                                        </div>
                                    </div>
                                    <div class="invest__cta__wrapper">
                                        <div class="countdown__wrapper">
                                            <p class="secondary"><i class="fa-solid fa-clock"></i> Left to invest</p>
                                            <div class="countdown">
                                                <h5>
                                                    <span class="days">00</span><span class="ref">d</span>
                                                    <span class="seperator">:</span>
                                                </h5>
                                                <h5>
                                                    <span class="hours"> 00</span><span class="ref">h</span>
                                                    <span class="seperator">:</span>
                                                </h5>
                                                <h5>
                                                    <span class="minutes">00</span><span class="ref">m</span>
                                                    <span class="seperator"></span>
                                                </h5>
                                            </div>
                                        </div>
                                        <div class="invest__cta">
                                            <a href="property-details.html" class="button button--effect">
                                                Invest Now
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section> -->
<!-- ==== #all properties in grid section end ==== -->

<!-- ==== market section start ==== -->
<!-- <section class="market section__space over__hi">
        <div class="container">
            <div class="market__area">
                <div class="row d-flex align-items-center">
                    <div class="col-lg-6 col-xl-5">
                        <div class="market__thumb thumb__rtl column__space">
                            <img src="/assets/images/market-illustration.png" alt="Explore the Market" />
                        </div>
                    </div>
                    <div class="col-lg-6 col-xl-6 offset-xl-1">
                        <div class="content">
                            <h5 class="neutral-top">Real exposure to the real estate market</h5>
                            <h2>You Invest. Zomes
                                Does the Rest</h2>
                            <p>Transparent Real Estate Investing Through Zomes.Join us and
                                experience a smarter,better way to invest in real estate</p>
                            <a href="properties.html" class="button button--effect">Start Exploring</a>
                            <img src="/assets/images/arrow.png" alt="Go to" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section> -->
<!-- ==== #market section end ==== -->